:root {
	--text: #a89984;
	--text-bold: #ebdbb2;
	--trim: #458588;
	--trim-bold: #83a598;
	--back: #282828;
	--back-bold: #3c3836;
	--black: #282828;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;
	--blue: #458588;
	--magenta: #b16286;
	--cyan: #689d6a;
	--white: #a89984;
	--black-bright: #3c3836;
	--red-bright: #fb4934;
	--green-bright: #b8bb26;
	--yellow-bright: #fabd2f;
	--blue-bright: #83a598;
	--magenta-bright: #d3869b;
	--cyan-bright: #8ec07c;
	--white-bright: #ebdbb2;
	--padding: 5px;
	--border: 2px;
}

.bordered {
	border: var(--border) solid var(--trim);
	border-radius: calc(var(--padding) * 4);
}

.centered-h {
	position: relative;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.centered-v {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.centered {
	margin: 0px;
	margin-top: calc(var(--padding) / 2);
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

html {
	background-color: var(--back);
	color: var(--text);
	font-family: 'Share Teck Mono', monospace;
	font-size: medium;
}

::selection {
	color: var(--back);
	background: var(--trim);
}

body {
	background-color: var(--back);
	color: var(--text);
	font-family: 'Share Teck Mono', monospace;
	font-size: 16px;
	margin: 0px;
	padding: 0px calc(var(--padding) + 2px) var(--padding) 0px;
}

div.bordered {
	margin: var(--padding) 0px 0px var(--padding);
	padding: 0px var(--padding) var(--padding) 0px;
}
div.centered {
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
div.flex {
	display: flex;
}

h1 {
	text-align: center;
	color: var(--text-bold);
	margin: var(--padding) 0px 0px var(--padding);
}
h2 {
	text-align: center;
	color: var(--text-bold);
	margin: var(--padding) 0px 0px var(--padding);
}
h3 {
	text-align: center;
	color: var(--text-bold);
	margin: var(--padding) 0px 0px var(--padding);
}

p {
	text-align: left;
	font-size: 16px;
	margin: var(--padding) 0px 0px var(--padding);
	color: var(--text);
	padding: calc(var(--padding) * 2) calc(var(--padding)) calc(var(--padding)) calc(var(--padding) * 2) ;
}

img {
	margin: var(--padding) 0px 0px var(--padding);
	max-width: calc(100% - 5px);
}

a {
	font-size: 16px;
	color: var(--trim);
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-out;
	display: inline-block;
}
a:hover {
	color: var(--trim-bold);
}
a::before {
	content: "";
	width: 100%;
	height: 2px;
	border-radius: 4px;
	bottom: 0%;
	left: 0%;
	background-color: var(--trim);
	transform: scaleX(0%);
	transform-origin: 0% 0%;
	transition: all 0.3s ease-out;
	position: absolute;
}
a:hover::before {
	transform: scaleX(100%);
	background-color: var(--trim-bold);
}

button {
	margin: var(--padding) 0px 0px var(--padding);
	background-color: var(--trim);
	color: var(--back);
	border-radius: calc(var(--padding) * 4);
	border: 2px solid var(--trim);
	transition-duration: 0.1s;
}
button.centered.fixed {
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
button:active {
	background-color: var(--back);
	color: var(--trim);
}

ul {
	color: var(--text);
}

li {
	color: var(--text);
}

#main {
	z-index: 1;
	max-width: 700px;
	margin-left: 3px;
}

#dropdown {
	z-index: 2;
	position: fixed;
	width: fit-content;
	height: fit-content;
	min-height: calc(12pt + var(--padding) * 3);
	margin-top: 0;
	overflow: hidden;
	background-color: var(--back);
}

#dropdown-button {
	position: relative;
	margin: 0px;
	margin-top: calc(1.5 * var(--padding));
}

#dropdown-items {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 0px;
	width: fit-content;
	transition: all 0.3s ease-in-out;
}
#dropdown-items.visible {
	height: calc(var(--menu-items-count) * (16px + var(--padding)))
}

.dropdown-item {
	position: relative;
	width: fit-content;
	height: 16px;
	margin: var(--padding) 0% 0% var(--padding);
	opacity: 0%;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.3s;
}
.dropdown-item.visible {
	opacity: 100%;
}

@media (pointer:none), (pointer:coarse) {
	#main {
		width: calc(100% - 2 * var(--padding));
	}
}
